
h1{
    font-size: 30px;
    text-align: center;
    color: #FF9696;
    }

body{
    background-color:ivory;
    background-image:url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Nocturne_0.jpg");
    background-attachment:fixed;
    background-repeat:no-repeat;
    }


