
h1{
    font-size: 30px;
    text-align: center;
    color: #FF9696;
    }

body{
    background-color:ivory;
    background-image:url(img\Capture.JPG);
    background-attachment:fixed;
    background-repeat:no-repeat;
    }


